#page {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

#content {
  display: flex;
  flex-direction: column;
}

.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

#isbn-label {
  line-height: 1 !important;
}

#isbn-popup {
  padding: 0 5px;
}

#isbn-link {
  text-decoration: underline;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

#btn {
  margin: 10px 0 0;
  background-color: #89bee0;
  align-self: flex-end;
}

.table {
   width:70%;
   margin-left:15%;
   margin-right:15%;
   overflow: scroll;
 }
