#cal-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 17, 48);
}

#calendar-holder {
    margin: 50px;
    width: 75%;
    display: inline-block;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 20px;
}

#cal-text-container {
    color: rgb(215, 215, 215);
    text-align: center;
}

