#footer {
  height: 10vh;
  flex-shrink: 0;
}

#footer-top {
  height: 20%;
  background-color: #2b568a;
}

#footer-bottom {
  height: 90%;
  width: 100vw;
  background-color: #072743;
  color: rgb(181, 197, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer-icons {
  display: flex;
  justify-content: space-around;
  min-width: 70px;
}

.footer-icon {
  color: #92a5bf;
}

.footer-icon:hover {
  color: #afc5e3;
  text-decoration: none;
}
