/* See https://github.com/negomi/react-burger-menu#styling */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 6vw;
  height: 5vh;
  left: 2vw;
  top: 2vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #2b568a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2b568a;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  padding: 0.3em;
  font-weight: 700;
  color: #e6e6e6;
  display: inline-block;
  text-decoration: none;
}

.bm-item:active,
.bm-item:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.bm-item:hover {
  color: #f89846;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
